.page-page {
	position: absolute;
	width: 100%;
	height: 100%;
}

#splash {
	width: 100%;
	height: 100%;
	background-color: #2affcf;
}

#splash button {
	width: calc(100% - 68px);
	height: 56px;
	margin: 0px 34px;
	position: absolute;
	bottom: 30px;
	color: black;
	background-color: white;
	font-size: 16px;
	font-weight: 500;
	opacity: 0;
}

#cam {
	width: 100%;
	height: 100%;
	--animate-duration: 1.25s;
}

#cam .fab {
	z-index: 0;
}

#cam .fab a {
	background-color: #2affcf;
}

#cam .fab .ripple-wave {
	--f7-touch-ripple-color: rgba(255,255,255,0.6);
}

.cam-cont {
	height: 100%;
	position: relative;
}

#overlay {
	position:absolute;
	top:0px;
	left: 0px;
	height: 100%;
}

.cam-tick-btn-cont {
	height: 56px;
	width: 56px;
  position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#effects {
	display: none;
	background-color: #2affcf;
}

#effects .effects-cont {
	z-index: 1;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}